/* FONTS */
@font-face {
  font-family: 'Kantumruy Pro';
  src: url('fonts/KantumruyPro-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 700;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
/* ALL */
* {
  box-sizing: border-box;
  object-fit: contain;
}
/* RESETS */
button, a {
  margin: 0;
  padding: 0;
  all: unset;
  cursor: pointer !important;
  text-decoration: none;
  width: min-content;
  white-space: nowrap;
}
body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  list-style: none;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  user-select: none !important;
}
input[type="checkbox"] {
  display: none !important;
}
html {
  scroll-behavior: smooth;
}



/* -------- */
/* MAIN CSS */
/* -------- */



:root {
  --primary-font: 'Kantumruy Pro', sans-serif;
  --thai-font: 'Sarabun', sans-serif;
  /* --primary-color: #E34949; */
  --white: #f9f9f9;
  --black: #1d1e21;
  --side-padding: 14vmin;
  --button-padding: 15px 30px;
  --shine-speed: 1s;
  --shadow-color-rgb: 30,32,36;
  --all-cars-padding: 24px 40px;
  --subheader-font-size: clamp(16px,3vmin,20px);
  --cta-transform: 0.4s;

  /* font sizes */
  --car-title-fs: clamp(12px,7vmin,36px);
}


.dark-mode {
  --white: #1e2024;
  /* --white: #151719; */
  --black: #f9f9f9;
  --primary-color: #e07e29;
  /* --primary-color: #d05343; */
  --shadow-color-rgb: 10,10,10;

  .pi-do {
    background: var(--white);
    color: var(--black);
  }
  .thai-support-h1 {
    color: #ffffff5e;
  }
  .cta-btn {
    border-color: var(--black);
    color: var(--black);
  }
  .cars-section,
  .car-details {
    color: var(--black);
  }
  .cars-section h2 {
    color: var(--black);
  }
  .spec-value {
    color: var(--white);
  }
  .view-all-cars {
    color: var(--black);
  }
  .skyline-wrapper img {
    /* filter: invert(88%) grayscale(100%); */
    filter: invert(88%) grayscale(100%);
  }
  .separator-vert {
    background-color: var(--black);
  }
  .popular {
    border: 2px solid var(--black);
  }
  .popular::after {
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--black);
  }
  .footer {
    border-top: 16px solid var(--gradient-black);
  }
  .cover-img-container {
    max-height: unset;
    top: 0;
  }
  .skyline-wrapper img {
    width: 100%;
  }
}


body {
  font-family: var(--primary-font);
  background-color: var(--white);
  overflow-x: hidden;
  color: var(--black);
}
.section {
  display: flex;
  flex-direction: column;
  padding: var(--side-padding);
  width: 100%;
  gap: 7vmin;
}


/* HERO SECTION */

.hero-section {
  /* Sticky Nav */
  margin-top: var(--nav-height);
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100vh - var(--nav-height));
  padding: 36px var(--side-padding);
}
.hero-section > *,
.hero-text > * {
  width: fit-content;
}


/* Hero H1 */
.hero-h1 {
  font-weight: 700;
  line-height: 85%;
  font-size: max(36px,13vmin);
  width: 58.04vmin; /* Breaks Words Perfectly */
  min-width: 160.71px;
  word-break: break-word;
}

.thai-support-h1 {
  font-family: var(--thai-font);
  letter-spacing: 20px;
  font-size: 7vmin;
  color: #0000005e;
}
.thai-support-h1:first-of-type {
  margin-left: auto;
  margin-right: -20px;
}


/* Cover Img */
.cover-img-container {
  position: absolute;
  overflow: hidden;
  /* bottom: 0; */
  height: 100%;
  z-index: -1;
  right: -2%;
}
/* dark overlays */
.cover-img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to right, var(--white) 19%, transparent max(500px,67%)); */
  background: linear-gradient(to right, var(--white) 22%, transparent max(500px,68%));
  z-index: 1;
}
.cover-img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--white), transparent 30%);
  z-index: 2;
}
.cover-img {
  height: 100%;
}


/* CTA Buttons */
.cta-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cta-btn {
  font-weight: 700;
  border: 1px solid;
  padding: var(--button-padding);
  color: var(--white);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  transition: transform var(--cta-transform) ease, color 0.3s ease, background 0.3s ease;
}
.cta-btn:hover {
  color: var(--primary-color);
  background-color: var(--black);
  transform: translateX(5px) !important;
}
.cta-btn:active {
  transform: translateX(5px);
}
.main-cta {
  background-color: var(--primary-color);
  font-size: clamp(20px, 5vmin, 26px);
}
/* line CTA */
.line-cta {
  width: fit-content;
  gap: 4px;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  background-color: #02C755;
  font-size: clamp(14px, 4vmin, 22px);
}
.line-cta:hover {
  color: #02C755;
}
.line-cta img {
  height: 40px;
}



/* button shine */
.btn-shine {
  overflow: hidden;
  position: relative;
}
.btn-shine::after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all var(--shine-speed) cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 10;
}
.btn-shine:hover::after {
  left: 120%;
  transition: all var(--shine-speed) cubic-bezier(0.19, 1, 0.22, 1);
}



/* Pick-Up + Drop-Off Banner */
.btn-wrapper {
  align-items: center;
  position: relative;
  width: calc(100% + var(--side-padding));
  display: flex;
  justify-content: space-between;
  right: calc(-1 * var(--side-padding));
  margin-left: calc(-1 * var(--side-padding));
}
.pi-do {
  display: flex;
  padding: var(--button-padding);
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  position: absolute;
  background: var(--black);
  color: var(--white);
  font-size: var(--subheader-font-size);
  right: 0;
  gap: 6vmin;
}
.pi-do-txt {
  text-align: center;
  max-width: 21vmin;
  font-weight: 700;
}
.separator-vert {
  background: var(--white);
  height: 10vmin;
  width: 2px;
}
.bc-ma-txt {
  gap: 2.3vmin;
  display: flex;
  max-width: 34vmin;
  align-items: center;
}
.bc-ma-txt img {
  height: 6vmin;
}


/* SKYLINE BREAK */

.skyline-wrapper {
  opacity: 0.5;
  z-index: -1;
  height: 88px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}
.skyline-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--white), transparent  55%);
  z-index: 1;
  pointer-events: none;
}
.skyline-wrapper img {
  position: absolute;
  object-fit: cover;
  width: 90%;
  bottom: 0;
}



/* CARS SECTION */

.cars-section {
  padding: var(--side-padding);
  position: relative;
  gap: 64px;
  min-height: 100vh;
}
.gradient-line-title,
.gradient-line-cars,
.black-overlay {
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.black-overlay {
  background-color: var(--white);
  z-index: -1;
  opacity: 0.3;
}
.gradient-line-title {
  background: linear-gradient(
    to bottom,
    var(--gradient-black) 50px,
    var(--gradient-red) 110px,
    var(--gradient-black) 170px
  );
}
.gradient-line-cars {
  background: linear-gradient(
    to bottom,
    var(--gradient-black) 380px,
    hsl(0, 64%, 16%) 440px,
    var(--gradient-black) 500px
  );
}
/* section title */
:root {
  --h2-box-shadow: 6px;
}
h2 {
  cursor: default;
  width: fit-content;
  font-size: 8vmin;
  font-weight: 700;
  position: relative;
  padding-left: 24px;
  transition: transform 0.8s ease !important;
  box-shadow: inset var(--h2-box-shadow) 0px currentColor;
}
h2:hover {
  transform: translateX(10px);
}
.cars-section h2 {
  color: var(--white);
}
.separator-horiz {
  z-index: 1;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, var(--black) 50%, rgba(0, 0, 0, 0) 100%);
}
.cars-grid {
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10vmin;
  column-gap: 22vmin;
}
.car-details {
  display: flex;
  cursor: pointer;
  gap: 0px 32px;
  display: grid;
  color: var(--white);
  grid-template-columns: 44vmin min-content;
  grid-template-rows: 0.9fr 2fr;
  transition: transform 0.3s ease-in-out;

  /* background: #1a1616;
  box-shadow: inset 0 4px 8px rgb(34, 12, 12);
  padding: 32px 48px;
  max-width: 42vw; */
}
.car-details > :nth-child(5) {
  align-self: center;
}
.car-details:hover {
  transform: translateY(-4px);
}
/* Plays Shine Animation on Hover of Parent */
.car-details:hover .btn-shine::after {
  left: 120%;
  transition: all var(--shine-speed) cubic-bezier(0.19, 1, 0.22, 1);
}
.cars-grid .car-details:nth-child(2n) {
  /* Push second column items to the far right */
  margin-left: auto; 
}
/* car title */
.car-name {
  font-size: var(--car-title-fs);
  font-weight: 600;
  text-transform: capitalize;
}
.car-make {
  text-transform: capitalize;
  color: var(--primary-color);
}
.car-price {
  white-space: nowrap;
  font-weight: 500;
  font-size: 24px;
}
.car-img {
  aspect-ratio: 18 / 11;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.specs {
  width: 100%;
  gap: 16px;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  flex-direction: column;
  align-self: end;
  justify-self: end;
}
.spec-item {
  min-width: 180px;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}
.spec-value {
  gap: 12px;
  display: flex;
  align-items: center;
  color: var(--black) !important;
}
.spec-value img {
  width: 26px;
}
.car-book-btn {
  font-weight: 600;
  justify-self: end;
  font-size: 20px;
  width: fit-content;
  padding: 16px 32px;
}
.view-all-cars {
  color: var(--white);
  margin: 0px auto;
  font-size: 20px;
  padding: var(--all-cars-padding);
  border: 2px solid white;
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: center;
}
.view-all-cars:hover {
  color: inherit !important;
}



/* ABOUT US */

.about-us-section {
  padding: 108px var(--side-padding);
  width: 100%;
  display: flex;
  gap: 64px;
  background: var(--white);
}
.about-us-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.why-us-img {
  align-self: flex-start;
  object-fit: cover;
  height: 400px;
}
.why-us-img {
  width: 46%;
}
.button {
  width: 120px;
  padding: 10px;
  background-color: var(--black);
  color: white;
  text-align: center;
  text-decoration: none;
}
.features-list {
  max-width: 50%;
  list-style: none;
}
.features-list li {
  display: flex;
  cursor: default;
  align-items: center;
  font-weight: 500;
  transition: transform 0.4s ease-in-out;
  color: #2C3E50;
  line-height: 1.5;
  font-size: 21px;
  color: #cfd4d9;
  gap: 16px;

  padding: 14px 0px; /* Around List Items*/
}
.features-list li span {
  color: #27ae60;
  color: var(--primary-color);
  font-size: 1.25rem;
}


.features-list li .highlight {
  background: lightgrey;
  color: var(--white);
  padding: 2px 10px; /* Box Around Text */
}
.features-list li:hover .highlight {
  transform: scale(1.05);
}
.features-list .highlight {
  display: inline-block;
  transition: transform 0.27s ease-in-out;
}


/* .features-list li:hover {
  transform: scale(1.03);
} */
.features-list > *:first-child {
  padding-top: 0;
}
h3 {
  font-size: 26px;
}
.black {
  background-color: rgba(0, 0, 0, 0.606);
  height: 24vmin;
}





/* FOOTER */

.footer {
  width: 100%;
  padding: 24px 48px;
  position: relative;
  font-size: 16px;
  border-top: 16px solid var(--black);
}

.footer-content {
  z-index: 1;
  display: flex;
  color: var(--black);
  align-items: center;
  position: relative;
  text-align: center;
  justify-content: space-between;
}
.footer-content p {
  align-items: center
}

/* Links */
.footer a {
  padding: 4px;
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}
.footer a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.social-links {
  gap: 16px;
  display: flex;
}
.footer-link {
  gap: 8px;
  display: flex;
  align-items: center;
}

.footer .skyline-wrapper {
  position: absolute;
  height: 110px;
  opacity: 0.5;
  bottom: 0;
}

.footer-icon {
  height: 34px;
}

.email a {
  font-size: 18px;
}




/* CHANGING LANGUAGE */

.thai-txt, .english-txt {
  transition: opacity 0.8s ease, transform 0.8s ease;
  opacity: 1;
}
.spacer {
  height: 10vh;
}

.switch-lang {
  z-index: 10;
  top: 7vh;
  right: var(--side-padding);
  position: absolute;
  gap: 8px;
  display: flex;
  align-items: center;
  color: var(--black);
}
.switch-lang input {
  display: none; /* Hide the checkbox */
}
.toggle-label {
  position: relative;
  width: 60px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.toggle-label:before {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 20px;
  height: 20px;
  background-color: #f9f9f9;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;
}
.toggle-text {
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  transition: opacity 0.3s;
}

/* Ordering */
.switch-lang .toggle-label {
  order: 2;
}
.switch-lang .toggle-text-right {
  order: 3; /* Thai text on the right */
  color: var(--primary-color);
}
/* Movement of slider */
#lang-toggle:checked + .toggle-label:before {
  transform: translateX(35px);
}


/* Changing Text Opacity */
.switch-lang .toggle-text {
  opacity: 1;
}
.switch-lang #lang-toggle:checked ~ .toggle-text-left {
  opacity: 0.65;
}
.switch-lang #lang-toggle:not(:checked) ~ .toggle-text-right {
  opacity: 0.65;
}



.horiz-txt {
  display: flex;
  align-items: center;
  gap: 4px;
}


/* Popular */
.popular {
  border: 2px solid var(--white);
  position: relative;
}
.popular::after {
  content: "MOST POPULAR";
  background-color: var(--black);
  color: var(--white);
  border: 2px solid var(--primary-color);
  box-shadow: rgba(0,0,0, 0.7) 2px 2px 4px 3px;
}

.popular::after,
.luxury::after,
.luxury::before {
  position: absolute;
  top: -12px;
  left: -17px;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 12px;
  rotate: -10deg;
}

/* Luxury */
:root {
  --luxury-gradient: linear-gradient(45deg, gold, var(--white));
  --lux-text: "TOP-RATED";
  --lux-font-size: 14px;
}
.luxury {
  position: relative;
  border: 2px solid transparent;
  background: var(--luxury-gradient);
  background-origin: border-box;
  box-shadow: rgba(255, 215, 0, 0.3) 0px 0px 10px;
}
.luxury::after {
  content: var(--lux-text);
  box-shadow: rgba(255, 215, 0, 0.3) 0px 0px 10px;
  border: 2px solid;
  border-image: var(--luxury-gradient) 1;
  /* Text gradient */
  background: var(--luxury-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--lux-font-size);
}
/* black bg */
.luxury::before {
  content: var(--lux-text);
  border: 2px solid;
  color: var(--white);
  background: var(--white);
  font-size: var(--lux-font-size);
}


.thai-txt {
  display: none;
  line-height: 1.5;
}
h1.thai-txt {
  display: none;
  line-height: 1;
}



.all-cars {
  margin-top: 16px;
  border: none;
  padding: var(--all-cars-padding) !important;
  border-bottom: 2px var(--primary-color) solid;
}
.all-cars:hover {
  color: var(--black) !important;
}
h4 {
  opacity: 0.5;
  margin-bottom: -40px;
  z-index: 1;
  font-size: 28px;
  width: fit-content;
  color: var(--black);
  font-weight: 400;
  cursor: default;

  /* Line */
  /* padding-right: 16px;
  border-right: 2px solid var(--black); */
}
.book-end {
  border: none;
  padding: var(--all-cars-padding) !important;
  margin-top: 72px;
  font-weight: 500;
  border-bottom: 2px var(--primary-color) solid;
}
.book-end:hover {
  color: var(--black) !important;
}


.ordering-cars {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.sort-container {
  position: relative;
  display: inline-block;
}
.sort-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 328px;
  max-height: 0;
  overflow: hidden;
  color: var(--black);
  background-color: var(--white);
  transition: max-height 0.3s ease-out;
  z-index: 1000;
  box-shadow: 8px 16px 22px rgba(0, 0, 0, 0.6); /* Horizontal offset, Vertical offset, Blur radius, Shadow color */
}
.sort-dropdown.show {
  max-height: 220px; /* Adjust this value based on the number of options */
}
.sort-option:hover {
  background-color: #ccc;
}
.sort-button {
  padding: 2px 12px;
  display: flex;
  align-items: center;
  z-index: 1;
  width: fit-content;
  height: fit-content;
  border: 2px solid #ccc;
  transition: transform 0.25s ease;
}
.sort-button:active {
  transform: scale(0.97);
}
.sort-button,
.sort-option {
  font-size: 18px;
  cursor: pointer;
}
.sort-option {
  padding: 12px 16px;
}
.sort-button,
.car-button,
.view-txt,
.sort-option {
  opacity: 0.7;
}
/* Arrows */
.sort-svg {
  box-sizing: unset;
  height: 22px;
  padding: 14px;
  fill: var(--black);
}

/* CAR BUTTONS Sedan,SUV,Pick-Ups */

.extrude {
  transition: all 0.2s ease-in-out;
}
.extrude:hover {
  box-shadow: 6px 6px 8px rgb(12, 12, 12), /* Bottom Right Shadow */
  -4px -4px 8px rgb(40, 40, 40); /* Top Left Highlight */
  transform: translateY(-1px);
}
.car-button-container {
  gap: 3vmin;
  display: flex;
  align-items: center;
}
:root {
  --car-btn-dm: 96px;
}
.view-txt {
  font-size: 18px;
  font-weight: 400;
}
.car-button,
.view-txt {
  width: 16vmin;
  font-size: 15px;
  font-weight: 600;
}
.car-button {
  gap: 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid var(--black);
  height: var(--car-btn-dm);
  transition: all 0.5s ease-in-out transform 0.2s ease-in-out border 0.05s ease;
}
/* car icons */
.car-button img {
  height: 42px;
}
.car-button:hover,
input[type="checkbox"]:checked + .car-button {
  background: hsl(220, 9%, 18%);
}
input[type="checkbox"]:checked + .car-button {
  opacity: 1;
  transform: unset;
  border: none;
  box-shadow: inset 0px -3px 0px var(--primary-color);
}

.subheader {
  display: none;
}













/* Mobile (smaller) Devices */
@media (max-width: 975px) {
  :root {
    --button-padding: 14px 20px;
  }
  .cover-img-container {
    display: none;
  }
  .btn-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero-section,
  .btn-wrapper {
    gap: 12vmin;
  }
  .cars-section {
    overflow: hidden;
  }
  .hero-section {
    overflow: hidden;
  }
  .view-txt {
    display: none;
  }
  .pi-do {
    position: unset;
    bottom: calc(var(--side-padding) * -3.5);
    padding: var(--button-padding);
    width: 100%;
  }
  .pi-do-txt {
    max-width: 23vmin;
  }
  .bc-ma-txt {
    max-width: 39vmin;
  }
  :root {
    --side-padding: 12vmin;
  }
  .switch-lang {
    display: none;
  }
  .footer-content {
    padding: 24px;
    flex-direction: column;
    gap: 24px;
    font-size: 18px;
  }
  .cover-img {
    margin-left: -36vw;
    margin-bottom: 15vh;
  }
  .cars-grid {
    grid-template-columns: 1fr; /* One item wide */
    gap: 64px;
  }
  .car-details {
    gap: 24px;
    max-width: none;
    grid-template-columns: 2fr 1fr;
  }
  .spec-item {
    display: block;
    min-width: unset;
  }
  .about-us-content {
    gap: 64px;
    flex-direction: column;
  }
  .about-us-content > * {
    width: 100%;
  }
  .features-list {
    order: 2;
    max-width: unset;
  }
  .why-us-img {
    height: 320px;
    border-radius: 20px;
  }
  .about-us-section {
    padding: 48px var(--side-padding);
  }
  .ordering-cars {
    gap: 64px;
    flex-direction: column;
  }
  .car-price {
    white-space: unset;
  }
}



.sub-and-buttons {
  gap: 32px;
  display: flex;
  align-items: center;
}
.subheader {
  font-weight: 600;
  font-size: var(--subheader-font-size);
}







/* Style for the info icon */
.info-icon {
  margin-bottom: 1px;
  display: flex;
  cursor: pointer;
  position: relative;
  margin-left: 12px;
  color: var(--primary-color);
}
.info-icon svg {
  height: 22px;
  width: min-content;
}

/* Hidden pop-up box */
.info-icon::after {
  content: attr(data-info);
  position: absolute;
  bottom: 120%; /* Above the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  color: var(--black);
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
  z-index: 10;
  white-space: normal;
  width: 160px;
  font-weight: 400;
}

/* Show pop-up on hover or focus */
.info-icon:hover::after,
.info-icon:focus::after {
  opacity: 1;
  visibility: visible;
}

/* Optional: Pop-up pointer/arrow */
.info-icon::before {
  content: "";
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: var(--white) transparent transparent transparent;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

/* Show the pointer/arrow on hover or focus */
.info-icon:hover::before,
.info-icon:focus::before {
  opacity: 1;
  visibility: visible;
}


.smaller-font {
  font-size: 23px;
}