/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

/* ALL */
* {
  box-sizing: border-box;
  object-fit: contain;
}

/* RESETS */
button, a {
  margin: 0;
  padding: 0;
  all: unset;
  cursor: pointer !important;
  text-decoration: none;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}


/* MAIN CSS */


:root {
  --primary-font: 'Kantumruy Pro', sans-serif;
  --thai-font: 'Sarabun', sans-serif;
  --primary-color: #E34949;
  --white: #f9f9f9;
  --black: #1d1e21;
  --side-padding: 80px;
  --button-padding: 15px 30px;
  --shine-speed: 1s;
  --shadow-color-rgb: 30,32,36;
  --gradient-red: hsl(0, 64%, 18%);
  /* --gradient-black: hsl(225, 12%, 7%); */
  --gradient-black: var(--black);
}
.dark-mode {
  --white: #1e2024;
  /* --white: #151719; */
  --black: #f9f9f9;
  --primary-color: #e07e29;
  /* --primary-color: #d05343; */
  --gradient-red: var(--primary-color);
  --shadow-color-rgb: 10,10,10;

  .pi-do {
    background: var(--white);
    color: var(--black);
  }
  .thai-support-h1 {
    color: #ffffff5e;
  }
  .cta-btn {
    border-color: var(--black);
    color: var(--black);
  }
  .gradient-line-title {
    background: linear-gradient(
      to bottom,
      var(--gradient-black) 50px,
      var(--gradient-red) 110px,
      var(--gradient-black) 170px
    );
  }
  .gradient-line-cars {
    background: linear-gradient(
      to bottom,
      var(--gradient-black) 380px,
      hsl(0, 64%, 16%) 440px,
      var(--gradient-black) 500px
    );
  }
  .cars-section,
  .car-details {
    color: var(--black);
  }
  .cars-section h2 {
    color: var(--black);
  }
  .spec-value {
    color: var(--white);
  }
  h2 {
    box-shadow: inset var(--h2-box-shadow) 0px var(--black);
  }
  .view-all-cars {
    color: var(--black);
  }
  .skyline-wrapper img {
    /* filter: invert(88%) grayscale(100%); */
    filter: invert(10%) grayscale(100%);
  }
  .separator-vert {
    background-color: var(--black);
  }
  .popular {
    border: 2px solid var(--black);
  }
  .popular::after {
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--black);
  }
  .footer {
    border-top: 16px solid var(--gradient-black);
  }
  .cover-img-container {
    max-height: unset;
    top: 0;
  }
  .skyline-wrapper img {
    width: 100%;
  }
}


body {
  font-family: var(--primary-font);
  background-color: var(--white);
  overflow-x: hidden;
  color: var(--black);
}
.section {
  display: flex;
  flex-direction: column;
  padding: var(--side-padding);
  width: 100%;
  gap: 7vmin;
}


/* HERO SECTION */

.hero-section {
  /* Sticky Nav */
  /* margin-top: var(--nav-height); */
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100vh - var(--nav-height));
  padding: 36px var(--side-padding);
}
.hero-section > *,
.hero-text > * {
  width: fit-content;
}


/* Hero H1 */
.hero-h1 {
  font-size: 13vmin;
  font-weight: 700;
  line-height: 85%;
  width: 58.04vmin; /* Breaks Words Perfectly */
  word-break: break-word;
}

.thai-support-h1 {
  font-family: var(--thai-font);
  letter-spacing: 20px;
  font-size: 7vmin;
  color: #0000005e;
}
.thai-support-h1:first-of-type {
  margin-left: auto;
  margin-right: -20px;
}


/* Cover Img */
.cover-img-container {
  position: absolute;
  overflow: hidden;
  /* bottom: 0; */
  height: 100%;
  z-index: -1;
  right: -2%;
}
/* dark overlays */
.cover-img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--white) 10%, transparent max(500px,67%));
  z-index: 1;
}
.cover-img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--white), transparent 30%);
  z-index: 2;
}
.cover-img {
  height: 100%;
}


/* CTA Buttons */
.cta-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cta-btn {
  font-weight: 700;
  border: 1px solid;
  padding: var(--button-padding);
  color: var(--white);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s ease, color 0.3s ease, background 0.3s ease;
}
.cta-btn:hover {
  color: var(--primary-color);
  background-color: var(--black);
  transform: translateY(5px) !important;
}
.cta-btn:active {
  transform: translateY(5px);
}
.main-cta {
  background-color: var(--primary-color);
  font-size: clamp(16px, 5vmin, 26px);
}
/* line CTA */
.line-cta {
  width: fit-content;
  gap: 4px;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  background-color: #02C755;
  font-size: clamp(14px, 4vmin, 22px);
}
.line-cta:hover {
  color: #02C755;
}
.line-cta img {
  height: 40px;
}



/* button shine */
.btn-shine {
  overflow: hidden;
  position: relative;
}
.btn-shine::after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all var(--shine-speed) cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 10;
}
.btn-shine:hover::after {
  left: 120%;
  transition: all var(--shine-speed) cubic-bezier(0.19, 1, 0.22, 1);
}



/* Pick-Up + Drop-Off Banner */
.btn-wrapper {
  align-items: center;
  position: relative;
  width: calc(100% + var(--side-padding));
  display: flex;
  justify-content: space-between;
  right: calc(-1 * var(--side-padding));
  margin-left: calc(-1 * var(--side-padding));
}
.pi-do {
  display: flex;
  padding: var(--button-padding);
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  position: absolute;
  background: var(--black);
  color: var(--white);
  font-size: clamp(16px,3vmin,20px);
  right: 0;
  gap: 6vmin;
}
.pi-do-txt {
  text-align: center;
  max-width: 21vmin;
  font-weight: 700;
}
.separator-vert {
  background: var(--white);
  height: 10vmin;
  width: 2px;
}
.bc-ma-txt {
  gap: 2.3vmin;
  display: flex;
  max-width: 34vmin;
  align-items: center;
}
.bc-ma-txt img {
  height: 6vmin;
}


/* SKYLINE BREAK */

.skyline-wrapper {
  opacity: 0.5;
  z-index: -1;
  height: 96px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}
.skyline-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--white), transparent  55%);
  z-index: 1;
  pointer-events: none;
}
.skyline-wrapper img {
  position: absolute;
  object-fit: cover;
  width: 90%;
  bottom: 0;
}



/* CARS SECTION */

.cars-section {
  padding: var(--side-padding);
  position: relative;
  gap: 80px;
}
.gradient-line-title,
.gradient-line-cars,
.black-overlay {
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.black-overlay {
  background-color: var(--white);
  z-index: 0;
  opacity: 0.3;
}
.gradient-line-title {
  background: linear-gradient(
    to bottom,
    var(--gradient-black) 50px,
    var(--gradient-red) 110px,
    var(--gradient-black) 170px
  );
}
.gradient-line-cars {
  background: linear-gradient(
    to bottom,
    var(--gradient-black) 380px,
    hsl(0, 64%, 16%) 440px,
    var(--gradient-black) 500px
  );
}
/* section title */
:root {
  --h2-box-shadow: 6px;
}
h2 {
  cursor: default;
  width: fit-content;
  font-size: 8vmin;
  font-weight: 700;
  position: relative;
  padding-left: 24px;
  box-shadow: inset var(--h2-box-shadow) 0px var(--white);
}
h2:hover {
  transform: translateX(10px);
}
.cars-section h2 {
  color: var(--white);
}
.separator-horiz {
  z-index: 1;
  width: 100%;
  height: 2px;
  background-color: var(--white);
}
.cars-grid {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 108px;
}
.car-details {
  cursor: pointer;
  gap: 0px 32px;
  width: 100%;
  display: grid;
  color: var(--white);
  grid-template-columns: 1.4fr 1fr;
  grid-template-rows: 0.9fr 2fr;
  max-width: 40vw;
  transition: transform 0.3s ease-in-out;

  /* background: #1a1616;
  box-shadow: inset 0 4px 8px rgb(34, 12, 12);
  padding: 32px 48px;
  max-width: 42vw; */
}
.car-details:hover {
  transform: translateY(-4px);
}
/* Plays Shine Animation on Hover of Parent */
.car-details:hover .btn-shine::after {
  left: 120%;
  transition: all var(--shine-speed) cubic-bezier(0.19, 1, 0.22, 1);
}
.cars-grid .car-details:nth-child(2n) {
  margin-left: auto; /* Push second column items to the far right */
}
/* car title */
.car-name {
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
}
.car-make {
  text-transform: capitalize;
  color: var(--primary-color);
}
.car-price {
  font-weight: 500;
  font-size: 24px;
  text-align: right;
}
.car-img {
  aspect-ratio: 17 / 10;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.specs {
  width: 100%;
  gap: 16px;
  display: flex;
  font-weight: 700;
  flex-direction: column;
  font-size: clamp(16px,3vmin,17px);
  align-self: end;
  justify-self: end;
}
.spec-item {
  min-width: 180px;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}
.spec-value {
  text-transform: uppercase;
  display: flex;
  color: var(--black);
  min-width: 64px;
  padding: 8px 12px;
  background: #D9D9D9;
  align-items: center;
  justify-content: center;
}
.car-book-btn {
  font-weight: 600;
  justify-self: end;
  font-size: 20px;
  width: fit-content;
  padding: 12px 32px;
  border: 2px solid var(--white);
}
.view-all-cars {
  color: var(--white);
  margin: 0px auto;
  font-size: 20px;
  padding: 32px 48px;
  border: 2px solid white;
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: center;
}




/* ABOUT US */

.about-us-section {
  padding: 108px var(--side-padding);
  width: 100%;
  display: flex;
  gap: 64px;
  background: var(--white);
}
.about-us-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.why-us-img {
  align-self: flex-start;
  object-fit: cover;
  height: 400px;
}
.why-us-img {
  width: 46%;
}
.button {
  width: 120px;
  padding: 10px;
  background-color: var(--black);
  color: white;
  text-align: center;
  text-decoration: none;
}
.features-list {
  max-width: 50%;
  list-style: none;
}
.features-list li {
  display: flex;
  cursor: default;
  align-items: center;
  font-weight: 500;
  transition: transform 0.4s ease-in-out;
  color: #2C3E50;
  line-height: 1.5;
  font-size: 19px;
  color: #cfd4d9;
  gap: 12px;

  padding: 14px 0px; /* Around List Items*/
}
.features-list li span {
  color: #27ae60;
  color: var(--primary-color);
  font-size: 1.25rem;
}


.features-list li .highlight {
  background: lightgrey;
  color: var(--white);
  padding: 2px 10px; /* Box Around Text */
}
.features-list li:hover .highlight {
  transform: scale(1.05);
}
.features-list .highlight {
  display: inline-block;
  transition: transform 0.27s ease-in-out;
}


/* .features-list li:hover {
  transform: scale(1.03);
} */
.features-list > *:first-child {
  padding-top: 0;
}
h3 {
  font-size: 26px;
}
.black {
  background-color: rgba(0, 0, 0, 0.606);
  height: 24vmin;
}





/* FOOTER */

.footer {
  width: 100%;
  padding: 24px 48px;
  position: relative;
  font-size: 16px;
  border-top: 16px solid var(--black);
}

.footer-content {
  z-index: 1;
  display: flex;
  color: var(--black);
  align-items: center;
  position: relative;
  text-align: center;
  justify-content: space-between;
}
.footer-content p {
  align-items: center
}

/* Links */
.footer a {
  padding: 4px;
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}
.footer a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.line-link {
  gap: 8px;
  display: flex;
  align-items: center;
}
.line-link img {
  height: 36px;
}

.footer .skyline-wrapper {
  position: absolute;
  height: 110px;
  opacity: 0.3;
  bottom: 0;
}

.email a {
  font-size: 18px;
}




/* CHANGING LANGUAGE */

.thai-txt, .english-txt {
  transition: opacity 0.8s ease, transform 0.8s ease;
  opacity: 1;
}
.spacer {
  height: 100px;
}

.switch-lang {
  top: 32px;
  right: 64px;
  position: absolute;

  gap: 8px;
  display: flex;
  align-items: center;
  color: var(--black);
}
.switch-lang input {
  display: none; /* Hide the checkbox */
}
.toggle-label {
  position: relative;
  width: 60px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.toggle-label:before {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 20px;
  height: 20px;
  background-color: #f9f9f9;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;
}
.toggle-text {
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  transition: opacity 0.3s;
}

/* Ordering */
.switch-lang .toggle-label {
  order: 2;
}
.switch-lang .toggle-text-right {
  order: 3; /* Thai text on the right */
  color: var(--primary-color);
}
/* Movement of slider */
#lang-toggle:checked + .toggle-label:before {
  transform: translateX(35px);
}


/* Changing Text Opacity */
.switch-lang .toggle-text {
  opacity: 1;
}
.switch-lang #lang-toggle:checked ~ .toggle-text-left {
  opacity: 0.65;
}
.switch-lang #lang-toggle:not(:checked) ~ .toggle-text-right {
  opacity: 0.65;
}



.horiz-txt {
  display: flex;
  align-items: center;
  gap: 4px;
}



/* Mobile Devices */
@media (max-width: 950px) {
  .pi-do {
    bottom: calc(var(--side-padding) * -3.5);
    padding: var(--button-padding);
    width: 100%;
  }
  .pi-do-txt {
    max-width: 23vmin;
  }
  .bc-ma-txt {
    max-width: 39vmin;
  }
  :root {
    --side-padding: 64px;
  }
  .switch-lang {
    display: none;
  }
  .footer-content {
    padding: 24px;
    flex-direction: column;
    gap: 24px;
    font-size: 18px;
  }
  .cover-img {
    margin-left: -36vw;
    margin-bottom: 15vh;
  }
  .cars-grid {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  .car-details {
    gap: 24px;
    max-width: none;
    grid-template-columns: 2fr 1fr;
  }
  .spec-item {
    display: block;
    min-width: unset;
  }
  .about-us-content {
    gap: 32px;
    flex-direction: column;
  }
  .about-us-content > * {
    width: 100%;
  }
  .features-list {
    max-width: unset;
  }
  .why-us-img {
    height: 320px;
    border-radius: 20px;
  }
  .about-us-section {
    padding: 48px var(--side-padding);
  }
}


.popular {
  border: 2px solid var(--white);
  position: relative;
}
.popular::after {
  content: "MOST POPULAR";
  position: absolute;
  top: -12px;
  left: -17px;
  background-color: var(--black);
  color: var(--white);
  font-size: 13px;
  font-weight: bold;
  padding: 8px 12px;
  rotate: -10deg;
  border: 2px solid var(--primary-color);
  box-shadow: rgba(0,0,0, 0.7) 2px 2px 4px 3px;
}





.thai-txt {
  display: none;
  line-height: 1.5;
}
h1.thai-txt {
  display: none;
  line-height: 1;
}



.all-cars {
  margin-top: 16px;
  border: none;
  padding: 20px 48px !important;
  border-bottom: 2px var(--primary-color) solid;
}
.all-cars:hover {
  color: var(--black) !important;
}
h4 {
  opacity: 0.5;
  margin-bottom: -48px;
  z-index: 1;
  font-size: 28px;
  width: fit-content;
  color: var(--black);
  font-weight: 400;
}
.book-end {
  border: none;
  margin-top: 72px;
  font-weight: 500;
  border-bottom: 2px var(--primary-color) solid;
}
.book-end:hover {
  color: var(--black) !important;
}