/* vehicle-form.css */


:root {
  --grey-bg: rgba(211, 211, 211, 0.8)
}

* {
  font-family: var(--primary-font);
}

.book-vehicle-section {
  padding: 0;
  max-width: 800px;
  margin: var(--nav-height) auto;
  font-family: var(--primary-font) !important;
}

.vehicle-form {
  gap: 80px;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 24px;
}

/* driving age note */
.note {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  padding: 8px 12px;
  background: var(--grey-bg);
  color: var(--white);
  width: min-content;
  white-space: nowrap;
  text-transform: capitalize;
}
.note svg {
  height: 22px; width: min-content;
}
.note svg path {
  fill: var(--white);
}


.form-group {
  display: flex;
  flex-direction: column;
}

label {
  white-space: nowrap;
  margin-top: 48px; /* Gap between questions */

  margin-bottom: 8px;
  color: var(--primary-color);
  font-weight: bold;
}

input,
select,
textarea {
  padding: 12px;
  border-radius: 5px;
  background-color: transparent;
  color: var(--text-color);
  font-size: 16px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.submit-group {
  grid-column: 1 / -1;
  text-align: center;
}

.submit-btn {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: darken(var(--primary-color), 10%);
}

/* Media Queries for responsiveness */
@media (max-width: 600px) {
  .vehicle-form {
    grid-template-columns: 1fr;
  }
}


.includes {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: unset;
  color: var(--black);
  padding: 24px 28px;
  border: 2px var(--grey-bg) solid;
  padding-bottom: 32px;
}
.includes li::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="16" height="16"><path d="M9 16.2l-3.5-3.5L4 14.2l5 5 10-10-1.5-1.5z"></path></svg>');
  position: absolute;
  left: 0;
  top: 0;
}
.book-includes-header {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.includes li {
  position: relative;
  padding-left: 25px;
  font-weight: 400;
}


.questions {
  display: flex;
  flex-direction: column;
}
.book-vehicle-section {
  gap: 96px;
}

.car-details-and-note {
  gap: 64px;
  padding: 0;
}

textarea {
  resize: none;
  width: 100%;
  height: 120px;
}

.q {
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.car-wrapper {
  gap: 32px;
  width: 100%;
  display: flex;
}
.car-form-details {
  gap: 32px;
  display: flex;
  min-width: 30%;
  flex-direction: column;
  justify-content: space-between;
}

.mile-allow img {
  margin-right: 12px;
}

select,
.contact-qs input,
textarea {
  max-width: 360px;
}

textarea {
  line-height: 150%;
}

.datetime .q {
  width: 100%;
}


input,
.datetime {
  max-width: 300px;
}

input[type="date"],
input[type="time"] {
  color: var(--black);
  max-width: 200px;
  box-sizing: border-box;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  padding: 8px;
  cursor: pointer;
  filter: invert(1);
}

input[type="tel"] {
  width: 100%;
}

.datetime {
  width: 100%;
  gap: 16px;
  display: flex;
}


.car-price {
  font-weight: 700;
  font-size: 18px;
  white-space: unset;
}

.car-img-container {
  width: 60%;
  border: 2px solid var(--black);
}


.mile-allow::before {
  content: unset !important;
}


.mile-allow {
  gap: 0px;
  font-weight: 600 !important;
  padding-left: 0 !important;
}



/* country telephone codes */
span.iti__country-name {
  color: var(--white) !important;
}
.iti__country-list {
  background-color: var(--black) !important;
}








input:-webkit-autofill {
  background-color: transparent !important;
  color: var(--black);
  -webkit-text-fill-color: var(--black);
  transition: background-color 5000s ease-in-out 0s;
}

/* For other browsers */
input:autofill {
  background-color: var(--white) !important;
  color: var(--white);
}